body{

	margin: 0 auto;
	background-color:#FFFFFF;


	}
	nav{
		padding-right:250px;
		padding-left:50px;
		margin-bottom: 40px;

	.links{
		float:right;

	}
	#comp{
		padding-left:40px;
	}
	#about{
		padding-left:40px;
	}
	#cities{
		padding-left:40px;
	}
	#list{
		padding-left:40px;
	}
}

	.tips{
		text-decoration: none;
		width:34%;
		display:inline-block;
		padding-left:60px;
		h5{
			margin-bottom: 30px;
		}
	}
	
	.form{
		float:right;
		width:52%;
		padding-right:200px;
		button{
			float:right;
		}
		h4{
			margin-bottom: 25px;
		}
		
		
	}
.info{
	background-color:#FAFAE9;
}
