body {
  margin: 0 auto; }

nav {
  padding-right: 250px;
  padding-left: 50px;
  margin-bottom: 40px; }
  nav .links {
    float: right; }
  nav #comp {
    padding-left: 40px; }
  nav #about {
    padding-left: 40px; }
  nav #cities {
    padding-left: 40px; }
  nav #list {
    padding-left: 40px; }

.tips {
  text-decoration: none;
  width: 34%;
  display: inline-block;
  padding-left: 60px; }
  .tips h5 {
    margin-bottom: 30px; }

.form {
  float: right;
  width: 52%;
  padding-right: 200px; }
  .form button {
    float: right; }
  .form h4 {
    margin-bottom: 25px; }
